{% extends 'base.html.twig' %}

{% block title %}Disney Series{% endblock %}

{% block body %}
    <h1>{{ website }}</h1>
    <img src="https://media.ngroup.be/IMAGE/IMAGE-S1-00011/31440-la-belle-et-le-clochard-disney.jpg"
         alt=""/>
{% endblock %}